<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous" referrerpolicy="no-referrer"/>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <i class="bi bi-book"></i>
            Book Website
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav me-auto">

                <li class="nav-item">
                    <a class="nav-link" href="/">
                        <i class="bi bi-house-door"></i> Trang chủ
                    </a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-columns-gap"></i> Danh mục
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for c in categories %}
                        <li><a class="dropdown-item" href="/?category_id={{c.id}}">{{ c.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>

            <div class="search-wrapper mx-auto w-50">
                <form method="get" action="/" class="search-form">
                    <div class="search-container">
                        <i class="fas fa-search search-icon"></i>
                        <input
                                class="search-input"
                                type="text"
                                name="kw"
                                placeholder="Tìm kiếm sách..."
                        />
                        <button class="search-button" type="submit">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                </form>
            </div>

            <ul class="navbar-nav ms-2">
                {% if current_user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="userDropdown"
                       role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{{ current_user.avatar }}" width="30" height="30" class="rounded-circle me-2"
                             alt="Avatar"/>
                        {{ current_user.username }}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="userDropdown">
                        <li><a class="dropdown-item" href="/profile">Thông tin cá nhân</a></li>
                        <li><a class="dropdown-item" href="/orders">Lịch sử đơn hàng</a></li>
                        <li><a class="dropdown-item" href="/logout">Đăng xuất</a></li>
                    </ul>
                </li>
                {% else %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="authDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-regular fa-user"></i> Tài khoản
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="authDropdown">
                        <li><a class="dropdown-item" href="/login">Đăng nhập</a></li>
                        <li><a class="dropdown-item" href="/register">Đăng ký</a></li>
                    </ul>
                </li>
                {% endif %}

                <li class="nav-item position-relative">
                    <a class="nav-link d-flex align-items-center active" href="/cart" style="font-size: 1.2rem;">
                        &#128722;
                        <span class="badge rounded-pill bg-danger position-absolute top-25 start-100 translate-middle cart-counter"
                              style="font-size: 0.8rem;">{{ count_cart.total_quantity }}</span>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>